<div class="center-container">
  <table border=0>
    <thead>
      <th>Profile link</th>
      <th>Date Signed on</th>
    </thead>
    <tbody>
      <tr>
        <td>flaksjfasf</td>
        <td>lakdfjalsfkjafdj</td>
      </tr>
      <% OauthAccount.all.each do |account| %>
        <tr>
          <td>
            <%= link_to account.username, account.username %>
          </td>
          <td>
            <%= distance_of_time_in_words(Time.now, account.created_at) %>
          </td>
        </tr>
      <% end %>
      <tr>
      </tr>
    </tbody>
  </table>
</div>