<div class="center-container">
  <h3>Total Users: <%= User.count %></h3>
  <%= link_to "View List", "/list" %>
  <div class='row'>
    <a href="/auth/github" class="btn btn-social btn-github">
      <span class="fa fa-github"></span> Sign in with Github
    </a>
  </div>
</div>